<div class="col-md-12">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
 

    </div>
  </nav>
</div>

<div class="container">
 <form [formGroup]="testForm">
    <input type="text" class="form-control" formControlName="value"
    [ngClass]="{ 'is-invalid': submitted && testForm.get('value').errors || testForm.get('value').dirty }" >
    <div *ngIf="submitted && testForm.get('value').errors" class="invalid-feedback">
      <div *ngIf="testForm.get('value').errors.required"><span class="alert-danger">Atleast one character is required</span></div>
    </div><br><br>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary" (click)="generateQRCode()" onclick="this.value=null;">Generate QR Code</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-success" (click)="generateBarCode()" onclick="this.value=null;">Generate Bar Code</button>
    </div>
 </form>
</div>

<div  *ngIf="displayQRCode" style="text-align: center;">
 <qrcode 
      [qrdata]="data" 
      [allowEmptyString]="true"
      [width]="256" 
      [errorCorrectionLevel]="'M'">
 </qrcode>
</div>
<div *ngIf="displayBarCode" style="text-align: center;">
  <ngx-barcode [bc-value]="data" width="256" height="256"  [bc-display-value]="true"></ngx-barcode>
</div>